*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color:lightcyan;
  color:black;
  min-height: 100vh;
  font-family: "poppins",sans-serif;
}

header{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button{
padding: 0.5rem;
font-size: 2rem;
border:none;
background:white;
}

form button{
  color:lightseagreen;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background: lightseagreen;
  color:white;
}



